{% extends 'base.html' %} {% load static %}

{% block css_style %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css_style %}

{% block content %}

<!-- Título y Navegación -->
<h5 class="mb-3">
  <a href="{% url 'home' %}" style="color: inherit; text-decoration: none;">
     <i class="fas fa-home"></i> Inicio
  </a> / {{ title }}
</h5>

<!-- Mostrar Habilidades -->
{% if total_posts == 0 %}
   <h5>No hay Habilidades Disponibles</h5>
{% endif %}

<h2 class="text-center mb-2">Habilidades y Experiencia</h2>
<!-- Skills Section -->
<section class="portfolio py-3">
  <div class="container">
    <div class="row">
      {% for skill in skills %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card bg-black card-body h-100 shadow-lg">
          <!-- Imagen del skill -->
          <div class="project-img-wrapper mb-3" style="width: 100%; height: 200px; overflow: hidden;">
            <img class="img-fluid" src="{{ skill.image.url }}" alt="{{ skill.name }}"
              style="width: 100%; height: 100%; object-fit: cover;">
          </div>

          <!-- Nombre y descripción -->
          <h4 class="mb-3 text-white">{{ skill.name | upper }}</h4>
          <p class="text-muted">
            {{ skill.description |striptags|truncatechars:100 }}
          </p>
          {% if skill.experience == 1 %}
             <p class="text-muted"><strong>Experiencia: </strong>{{ skill.experience }} año</p>
          {% elif skill.experience > 1 %}
             <p class="text-muted"><strong>Experiencia: </strong>{{ skill.experience }} años</p>
          {% endif %}

          <!-- Botón de leer más -->
          <a class="btn btn-outline-primary btn-lg rounded-0 mt-3" href="{% url 'skill-detail' skill.id %}">
            Leer más
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}